@model People// this is the model bind with another add view
@{
    ViewData["TitlePhrase"]="Update employee";
    string[] genders={"male","female","others"};
}
<h3>Update new employeees</h3>

<hr/>
<form asp-controller="Employees" asp-action="Edit" method="Post">
  <input type="hidden" asp-for="Id"/>
  <div class="mb-3">
    <label asp-for="Firstname"></label>
    <span class="text-danger"  asp-validation-for="Firstname"></span>
    <input type="text" class="form-control"  asp-for="Firstname" placeholder="enter your first name">
  </div>
  <div class="mb-3">
    <label asp-for="Lastname"></label>
    <span class="text-danger" asp-validation-for="Lastname"></span>
    <input type="text" class="form-control" asp-for="Lastname" placeholder="enter your last name">
  </div>
  <div class="mb-3">
    <label asp-for="Address"></label>
    <textarea  class="form-control" asp-for="Address" placeholder="enter your address"></textarea>
  </div>
  <div class="mb-3">
    <label asp-for="Gender"></label>
    @foreach (var gender in genders)
    {     <div class="form-check-inline">
         <input type="radio" class="form-check-input" asp-for="Gender" id="@gender" value="@genders[0]"/>
      <label class="form-check-label" asp-for="@gender">@gender</label>
      </div>
       }
     </div>
  <div class="mb-3">
    <label asp-for="Salary"></label>
    <input type="number" class="form-control" asp-for="Salary" placeholder="enter your salary">
  </div>
  
    
  <button type="submit" class="btn btn-primary">Update employee</button>
</form>
