
<!DOCTYPE html>
<head>
    <title>this isprivacytab</title>
</head>
<body>
<h1>this is ptivacy content</h1>
    <hr/>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Exercitationem minus, hic dolor inventore molestiae alias magni illo nulla? 
        Amet expedita libero atque dolorum fuga saepe qui eius eos accusamus animi.</p
</body>
</html>