@model Person

<h1>Employee detail</h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item">First Name:@Model.Firstname</li>
  <li class="list-group-item">Last Name:@Model.Lastname</li>
    <li class="list-group-item">Address:@Model.Addressname</li>
  <li class="list-group-item">Gender:@Model.Gender</li>
  <li class="list-group-item">Contact:@Model.Contact</li>
  <li class="list-group-item">Salary:@Model.Salary</li>
</ul>
